/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.page {
	display: flex;
	flex-direction: column;
}

.header {
	text-decoration: none;
	color: black;
	padding: 8px;
	box-shadow: 0 0 8px #eee;
	position: sticky;
	top: 0;
	background: white;
	z-index: 2;
}

.left, .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.img {
	width: 100px;
}

.date {
	padding: 16px;
}

.md {
	padding: 16px;
	font-size: 18px;
	line-height: 1.5;
	text-align: left;
	font-family: 'Roboto Slab', serif;

	p {
		margin-top: 16px;
	}
}

.imgs {

	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;

	img {
		object-fit: contain;
		max-height: 480px;
		margin-top: 2px;
		max-width: 100%;
	}
}

@media (min-width: 720px) {

	.header {
		padding: 16px;
	}

	.mdContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.md {
		max-width: 720px;

		p {
			margin-top: 32px;
			font-size: 20px;
		}
	}
}